<div>
<table border="1">
  <th colspan = "2" >	Client address </th>	
  <tbody >
    <tr>
      <td >Street</td>
      <td><input [(ngModel)]="selectedCustomer.address.street" /></td>
    </tr>
    <tr>
      <td>City</td>
      <td><input [(ngModel)]="selectedCustomer.address.city" /></td>
    </tr>
    <tr>
      <td>State</td>
      <td><input [(ngModel)]="selectedCustomer.address.state" /></td>
    </tr>
    <tr>
      <td>Country</td>
      <td><input [(ngModel)]="selectedCustomer.address.country" /></td>
    </tr>
  </tbody>
  </table>
</div>