<div>
<table border="1">
  <th colspan = "2" >	Client data </th>	
  <tbody >
    <tr>
      <td>First name</td>
      <td><input [(ngModel)]="selectedCustomer.firstName" /></td>
    </tr>
    <tr>
      <td>Surname</td>
      <td><input [(ngModel)]="selectedCustomer.surname" /></td>
    </tr>
    <tr>
      <td>Company</td>
      <td><input [(ngModel)]="selectedCustomer.company" /></td>
    </tr>
    <tr>
      <td>Born date</td>
      <td><input [(ngModel)]="selectedCustomer.bornDate" /></td>
    </tr>
  </tbody>
</table>
</div>