#main{
  position:absolute;
  width:1200px;
  height:600px;
  padding:5px;
}
#main > div{
  float:left;
  margin:5px;
}
#d1{
  width:600px;
  height:600px;
}
#d2{
  width:350px;
  height:600px;
}
.content {
  padding: 30px;
  color: #787878;
  background-color: #fcf7f8;
  border: 1px solid rgba(0,0,0,.05);
}
.example-wrapper {
  min-height: 100px;
}