<div id="main">
  <div id="d1">
    <kendo-grid [data]="customers" [height]="538" [selectable]="true" (selectionChange)="onSelect($event)">
      <kendo-grid-column field="firstName" title="Name" width="100px">
      </kendo-grid-column>
      <kendo-grid-column field="surname" title="Surname" width="100px">
      </kendo-grid-column>
      <kendo-grid-column field="company" title="Company" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="bornDate" title="Year of birth" width="150">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          {{ dataItem.bornDate | date: 'y' }}
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
    <div id="d3" style="float: right" style="padding-right: 10px">
      <p style="float: left">Filter name:</p>
      <input #textbox type="text" style="float: middle" [(ngModel)]="textValue" required >
      <button (click)="filterName()">Ok</button>
    </div>
  </div>
  <div id="d2">
    <app-customer-address [selectedCustomer]="selectedCustomer" style="float: middle"></app-customer-address>
    <app-customer-detail [selectedCustomer]="selectedCustomer" style="float: middle"></app-customer-detail>
    <div class="example-config">
      <button #anchor (click)="onToggle()" class="k-button">{{toggleText}} Popup</button>
    </div>
    <div class="example-wrapper">
      <kendo-popup [popupClass]="'content popup'" [anchor]="anchor" (anchorViewportLeave)="show = false" *ngIf="show" >
      {{selectedCustomer.document.value}}
      </kendo-popup>
    </div>
  </div>
</div>